// Base type styles are handled in _reboot.scss. This is just modifiers.
@use "sass:math";
.type {
    @each $modifier, $value in $theme-colors {
        &__color-#{$modifier} {
            color: $value !important;
        }
    } 

    @each  $value in $font-weights {
        &__weight-#{$value} {
            font-weight: $value !important;
        }
    } 

    @each  $modifier, $value in $type-sizes {
        &__size-#{$modifier} {
            font-size: $value !important;

            @for $i from 1 through 7 {
                @if $i == $modifier {
                    line-height: 1.2;
                    margin-bottom: $header-margin;
                }
            }

            @for $i from 1 through 4 {
                @if $i == $modifier {
                    font-weight: $header-font-weight;
                }
            }

        }
    }

    @each $modifier in $text-transforms {
        &__#{$modifier} {
            text-transform: $modifier !important;
        }
    }

}


.subheading {
    &__one {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: $spacer-1;
    }

    &__two {
        font-size: 14px;
        letter-spacing: 2.8px;
        font-weight: 700;
        margin-bottom: $spacer-1;
        text-transform: uppercase;
    }
}

.pill__label {
    border-radius: $pill-border-radius;
    padding: $pill-label-padding;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-transform: uppercase;
    line-height: 0;
    letter-spacing: 2px;
    margin-bottom: $spacer-3;

    p {
        margin-bottom: 0;
        line-height: 1;
    }

}

.pill__label-indicator {
    height: 15px;
    width: 15px;
    border-radius: 100rem;
    margin-right: $spacer-1;
    margin-bottom: $spacer-1 * .25;
}

@each $gradient-bar-title, $gradient-bar-size in $gradient-bar-sizes {
    @each $color-title, $color-value in $core-colors {
        @if $gradient-bar-title == "md" {
            .gradient__bar-#{$color-title} {
                @include gradient-bar($gradient-bar-size);
                @include gradient-background($color-value, 45deg)
            }
        }
        @else {
            .gradient__bar-#{$gradient-bar-title}-#{$color-title} {
                @include gradient-bar($gradient-bar-size);
                @include gradient-background($color-value, 45deg)
            }
        }
    }
}

.gradient__bar-above {
    @each $color-title, $color-value in $core-colors {
        &-#{$color-title} {
            @include has-gradient-bar;
            &:before {
                @include gradient-background($color-value, 45deg);
                top: $gradient-bar-above-top-position;
            }
        }      
    }
}

.gradient__bar-below {
    @each $color-title, $color-value in $core-colors {
        &-#{$color-title} {
            @include has-gradient-bar;
            &:before {
                @include gradient-background($color-value, 45deg);
                bottom: $gradient-bar-above-top-position;
            }
        }      
    }
}