.meta-description {
    position: absolute;
    top: -100000000000000000vh;
    left: -10000000000000000vh;
}

.border__radius  {
    @each $corner in $section-border-corners {
        @each $radius in $border-radius {
            &-#{$radius}, &-#{$corner}-#{$radius} {
                border-#{$corner}-radius: $radius + px !important;
            }
        }
    }
}