$gradient-bar-sm: 2px;
$gradient-bar-md: 4px;
$gradient-bar-lg: 8px;

$gradient-bar-sizes: (
    "sm": $gradient-bar-sm,
    "md": $gradient-bar-md,
    "lg": $gradient-bar-lg,
) !default;

$gradient-bar-above-top-position: -$spacer-1;
$gradient-bar-below-position:     -$spacer-1;
$gradient-bar-left-position: 0px;

$section-border-corners: (top-right, top-left, bottom-right, bottom-left) !default;
$border-radius: (0, 2, 4, 8, 12, 16, 20, 24, 28, 32) !default;

$pill-border-radius: 50rem;