<section class="bg-{{ section.background_color }} py-8" id="{{ section.template | downcase | replace: ' ', '-' }}">
    <div class="container-fluid">
        <div class="container">
            <div class="{% if section.row_reverse == 'true' %}flex-row-reverse{% endif %} row align-items-center">
                <div class="col-auto mb-2 mb-lg-0 mx-auto mx-lg-0">
                    <figure id="voting-section-image-container" class="circular-figure" style="height: 350px; width: 350px;">
                        <img src="{{ section.image }}" alt="{{ section.image_alt }}">
                    </figure>
                </div>
                <div class="col-lg-7 text-{{ section.text_color }}    {% if section.row_reverse != 'true' %} ms-auto {% else %} me-auto {% endif %}" id="voting-section-content-container">
                    <h2 class="display-3 mt-lg-0 has-gradient-bar gradient-bar-{{ section.title_bar_color }}">
                        <em>
                            {{ section.title }}
                        </em>
                    </h2>
                    <div class="mt-4">
                        {{ section.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>