{% include /snippets/id-func.html %}

<section class="header__tradeshow {% if section.info_container == 'true' or section.info_container == true %}bg-slate-100{% endif %}" {{ sectionTitleId }}>
        <div class="container-fluid content-container">
            <div class="row">
                <div class="col-lg-6 page-title has-event-jumbotron-page-title" id="event-jumbotron-page-title">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10">
                                <h2 class="display-2">
                                    <em> 
                                        {{ section.headline }}
                                    </em>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 featured-image-container has-eventjumbtron-featured-image">
                    <img src="https://go.alight.com/rs/777-ERD-451/images/hr-tech-2023-hero.jpg" alt="HR Tech 2023">
                </div>
            </div>
        </div>
    {% include /snippets/arc-animated.svg %}
</section>
{% if section.info_container == 'true' or section.info_container == true %}
<section class="py-4 py-md-6 bg-slate-100" data-bs-theme="dark">
    <div class="container">
        <div class="row" id="event-page-header-details">
            {% for item in section.info_details %}
            {% if forloop.length > 2 %}
            <div class="col-md-4 mx-auto py-1 mb-1 mb-lg-0">
                <p class="mb-0 text-uppercase small tracked">
                    {{ item.label | append: ':' }}
                </p>
                <h5 class="mb-0">
                    <strong>
                        {{ item.content }}
                    </strong>
                </h5>
             </div>
             {% else %}
             <div class="col-md-6 py-1 mb-1 mb-lg-0">
                <p class="mb-0 text-uppercase small tracked">
                    {{ item.label | append: ':' }}
                </p>
                <h5 class="mb-0">
                    <strong>
                        {{ item.content }}
                    </strong>
                </h5>
             </div>
             {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}