<div class="form-modal modal-overlay">
    <div class="container-fluid pt-6">
        <div class="row">
            <div class="col-11 mx-auto text-right d-flex">
                <p class="d-inline-block ms-auto">
                    <a href="#illuminate-lounge-section" class="form-modal-toggle">
                        <span class="material-symbols-outlined">
                            cancel
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-11 col-lg-8 mx-auto py-4 form-group">
                <script src="//go.alight.com/js/forms2/js/forms2.min.js"></script> <form id="mktoForm_6685"></form> <script>MktoForms2.loadForm("//go.alight.com", "777-ERD-451", 6685);</script>
            </div>
        </div>
    </div>
</div>
</div>