{% comment %}
    Template: Header Tradeshow 2
    Block Tag: header__tradeshow-2
    ---
    Notes:
        This is pulling in the layout from `header__tradeshow-1`. Any design changes to the root jumbotron need to be done there. However, those need to be global changes, and agreed on.
    ---
    Front Matter Options:
        - template: header__tradeshow-2
          block: header__tradeshow-2
          image: https://placehold.co/1080x1080
          has_label: 'true' or 'false'
          indicator_color (blue, black, yellow-100, etc)
          label_text: text
          headline: Text
          has_subtitle: 'true' or 'false'
          subtitle: Text
          details: `you can repeat the - label and content but keep it at 3 or 4`
            - label: Text
              content: Text
{% endcomment %}


<div class="background__color-slate-100">
    {% include /blocks/header__tradeshow-1.html %}
    <section class="section__padding-y">
        <div class="container-fluid section__padding-sm-y">
            <div class="container">
                <div class="row">
                    {% for item in section.details %}
                    <div class="col-lg">
                        <p class="type__size-8 type__uppercase type__color-white margin__bottom-1">
                            {{ item.label }}:
                        </p>
                        <p class="type__size-6 type__color-white">
                            {{ item.content }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>