<section class="py-5 bg-slate-05" id="illuminate-lounge-section">
    <div class="container-fluid mb-3">
        <div class="container">
            <div class="row">

                <div class="col-12 pt-5 pb-3">
                    <h2 class="display-3 em has-gradient-bar gradient-bar-teal" id="illuminate-lounge-title-container">
                        
                    </h2>
                </div>

                <div class="col-lg-7 me-auto mb-2 mb-lg-0" id="illuminate-lounge-content-container">

                </div>
                <div class="col-lg-4 mb-2 mb-lg-0" id="illuminate-lounge-address-container">
    
                </div>
                <div class="col-12 mb-4">
                    <a class="form-modal-toggle btn btn-primary">
                        Reserve your spot in the lounge
                    </a>
                </div>

            </div>
            
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="bg-white rounded py-2 px-12">
                <div class="container" id="illuminate-lounge-events-container">
                    
                </div>
            </div>
        </div>
    </div>
</section>