{% include /snippets/id-func.html %}
{% include /snippets/dark-mode-sections.html %}
{% include /snippets/dark-mode-buttons.html %}


{% capture row_direction %}
    {% if section.image_right or section.image_right == 'true' %}
        row flex-row-reverse
        {% else %}
        row
    {% endif %}
{% endcapture %}

{% capture ic_content_column_margin %}
    {% if section.image_right or section.image_right == 'true' %}
        me-md-auto
        {% else %}
        ms-md-auto
    {% endif %}
{% endcapture %}


<section class="py-4 py-md-6 {{ ic_background_color | strip_newlines }}" {{ sectionTitleId }}   {{ ic_bg_dark_theme }}>
    <div class="container">
        <div class="{{ row_direction | strip_newlines }}">
            <div class="col-auto mb-2 mb-lg-0 mx-auto mx-lg-0 d-flex align-items-center justify-content-center">
                <figure class="circular-figure" style="height: 350px; width: 350px;">
                    <img src="{{ section.image }}" alt="">
                </figure>
            </div>
            <div class="col-lg-7 {{ ic_content_column_margin | strip_newlines }}">
                <div class="d-flex flex-column justify-content-center py-4 h-100">
                {% if section.headline %}
                    {% include /snippets/section-headline.html bar_color="yellow" headline=section.headline %}
                {% endif %}
                {{ section.content }}
                <p>
                    {{ ic_cta }}
                </p>
                </div>
            </div>
        </div>
    </div>
</section>