<section>
    <div class="container">
        <div id="logos-container" class="row"></div>
    </div>
</section>
<section class="py-3 bg-slate-05">
    <div class="container">
        <row>
            <div class="col-12">
                <h2 class="display-1">
                    <em>
                        Illuminate Lounge
                     </em>
                </h2>
            </div>
        </row>
    </div>
    <div class="container">
        <div class="events-container bg-white rounded py-1 px-1">
            <div class="events row mb-1" id="illuminate-lounge-one">

            </div>
            <div class="events row mb-1" id="illuminate-lounge-two">

            </div>
        </div>
    </div>
</section>