{% include /snippets/id-func.html %}
{% include /snippets/dark-mode-sections.html %}
{% include /snippets/dark-mode-buttons.html %}

<section class="quote contained py-4" {{ sectionTitleId }}   {{ ic_bg_dark_theme }}>
    <div class="{% if section.fullwidth == 'true' or section.fullwidth == true %}container-fluid  {% else %}container {% endif %} 
    
    rounded py-4 {{ ic_background_color | strip_newlines }}">
        <div class="row rounded py-4">
            <div class="col-12 quote-marks">
                <svg viewBox="0 0 117 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100.812 0L79.0034 37.6936C80.3524 36.9502 81.9262 36.4297 83.7248 36.1324C85.5235 35.835 87.3222 35.6863 89.1208 35.6863C97.0649 35.6863 103.697 38.394 109.018 43.8094C114.339 49.2263 117 55.7375 117 63.3432C117 71.2239 114.339 77.8035 109.018 83.0821C103.697 88.3607 97.0649 91 89.1208 91C81.454 91 74.8905 88.3607 69.43 83.0821C63.9711 77.8035 61.2416 71.2499 61.2416 63.4212C61.2416 60.6927 61.5789 58.1389 62.2534 55.7598C62.9279 53.3807 63.8647 51.1503 65.0638 49.0686L93.6175 6.28976e-07L100.812 0Z" />
                    <path d="M39.5705 0L17.7618 37.6936C19.1108 36.9502 20.6846 36.4297 22.4833 36.1324C24.2819 35.835 26.0806 35.6863 27.8792 35.6863C35.8233 35.6863 42.4559 38.394 47.7769 43.8094C53.0979 49.2263 55.7584 55.7375 55.7584 63.3432C55.7584 71.2239 53.0979 77.8035 47.7769 83.0821C42.4559 88.3607 35.8233 91 27.8793 91C20.2125 91 13.6489 88.3607 8.18845 83.0821C2.72953 77.8035 6.17196e-05 71.2499 6.10352e-05 63.4212C6.07966e-05 60.6927 0.337298 58.1389 1.01179 55.7598C1.68629 53.3807 2.6231 51.1503 3.8222 49.0686L32.3759 6.28976e-07L39.5705 0Z"/>
                    </svg>
                                   
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mx-auto text-center">
                <p class="h4">
                    {{ section.content }}
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto mx-auto d-flex align-items-center mb-2">
                {% if section.headshot %}
                    <div class="headshot" style="background-image: url('{{ section.headshot }}')">

                    </div>
                {% endif %}
                <div class="information">
                    <p   {% if section.headshot %}{% else %}class="text-center"{% endif %}>
                        {% if section.name %}
                            <strong>
                                {{ section.name }}
                            </strong>
                            <br>
                        {% endif %}
                        {% if section.job_title %}
                            <em>
                                {{ section.job_title }}
                            </em>
                            <br>
                        {% endif %}
                        {% if section.company %}
                            <em>
                                {{ section.company }}
                            </em>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>