{% include /snippets/id-func.html %}

<section class="single-speaker-v1 py-4 py-md-8 bg-light"  {{ sectionTitleId }}>
    <div class="container">
        {% if section.headline %}
        <div class="row pb-4">
            <div class="col-12">
                {% include /snippets/section-headline.html bar_bottom="true" bar_color="teal" headline=section.headline %}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <!-- Speaking Session Inner Panel -->
            <!-- Event Title -->
            <div class="col-12 bg-white rounded py-2 px-2">
                <div class="row mb-md-4 mb-2">
                    <div class="col-12">
                        {% include /snippets/pill-label.html color="yellow" text="Upcoming Session" %}
                        <h3 class="mt-2">
                            {{ section.session_title }}
                        </h3>
                    </div>
                </div>
                <!-- End Event Title -->
                <!-- Event Description and Info -->
                <div class="row">
                    <div class="col-md-3 order-lg-3 order-md-3 mb-2 mb-md-0">
                        <ul class="list-unstyled p-0">
                            <li class="mb-2 no-icon">
                                <p class="has-indicator">
                                    Session Information
                                </p>
                            </li>
                            {% for item in section.session_information %}
                            <li class="ps-3 no-icon">
                                {{ item.date }}
                            </li>
                            <li class="ps-3 no-icon">
                                {{ item.time }}
                            </li>
                            {% endfor %}
                            <li class="d-md-none mt-md-none mt-2 border-bottom no-icon"></li>
                        </ul>
                    </div>
                    <div class="col-lg-7 col-md-6 col-12">
                        {{ section.session_description }}
                    </div>
                    <div class="col-lg-auto col-md-auto border-start d-none d-md-flex ms-md-auto">
                        
                    </div>     
            </div>
            <!-- End Event Description and Info -->
            <!-- Event Speaker(s)-->
            <div class="row border-top my-2 mt-md-0">
                <div class="col-12 mt-2">
                    {% for item in section.speaker_info  %}                       
                            {% assign speaker_count = forloop.length %}
                    {% endfor %}
                    {% if speaker_count > 1 %}
                    <p class="has-indicator">
                        Speakers
                    </p>
                    {% else %}
                    <p class="has-indicator">
                        Speaker Information 
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
            {% for item in section.speaker_info  %}                       
            <div class="col-md-4 mb-2 mb-md-0">
                <div class="row">
                    <div class="col-auto mb-1">
                        <figure class="circular-figure" style="height: 100px; width: 100px;">
                            <img src="{{ item.photo }}" alt="{{ item.name }}, {{ item.title }} {{ item.company }}">
                        </figure>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <ul class="list-unstyled">
                            <li class="strong no-icon">
                                {{ item.name }}
                            </li>
                            <li class="text-muted small no-icon">
                                {{ item.title }}{% if item.company %}{{ item.company | prepend: '<br>' }}{% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
            <!-- End Event Speaker(s)-->
            <!-- End Speaking Session Inner Panel -->
        </div>
</section>
