{% include /snippets/id-func.html %}
{% include /snippets/dark-mode-sections.html %}
{% include /snippets/dark-mode-buttons.html %}

<section class="text-content py-4 py-md-6 {{ ic_background_color | strip_newlines }}" {{ sectionTitleId }}   {{ ic_bg_dark_theme }}>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ section.content_one }}
            </div>
            <div class="col-md-6">
                {{ section.content_two }}
            </div>
        </div>
    </div>
</section>