<section class="tile-events py-8 bg-{{ section.background_color }}" id="{{ section.template | downcase | replace: ' ', '-' }}">
    {% include /blocks/section-title.html bar_color=section.bar_color title=section.title subtitle=section.subtitle  %}
    <div class="container-fluid">
        <div class="container">
            {% for item in site.data[section.data] %}
                <div class="row {% if forloop.first %}mt-4{% endif %}">
                    <div class="col-12">
                        <p class="indicator-label bg-slate-10">
                            {{ item.date }}
                        </p>
                    </div>
                </div>
                <div class="row my-2">
                    {% for event in item.events %}
                    <!-- Event Tile for {{ event.title | truncatewords: '4' }}-->
                    <div class="col-lg-3 my-2">
                        <div class="rounded py-2 px-2 bg-{{ item.tile }} h-100">
                            {% for time in event.times %}
                                <p class="small text-uppercase strong  {% if forloop.first == true %} mb-0 {% endif %}">
                                    {{ time }}
                                </p>
                            {% endfor %}
                            <p class="mt-2 strong lead">
                                {{ event.title }}
                            </p>
                        </div>
                    </div>
                    <!-- End Event Tile for {{ event.title | truncate: '7' }}-->
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>