<section class="bg-yellow-100 py-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto mb-2 mb-lg-0 mx-auto mx-lg-0">
                    <figure id="voting-section-image-container" class="circular-figure" style="height: 350px; width: 350px;">

                    </figure>
                </div>
                <div class="col-lg-7 ms-auto" id="voting-section-content-container">

                </div>
            </div>
        </div>
    </div>
</section>