.header__tradeshow {
    overflow: hidden;
    position: relative;

    .content-container {
        background-color: $yellow-100;
        background: linear-gradient(153deg, rgba($yellow-100,1) 0%, rgba($white,1) 100%);
        overflow: hidden;
        border-bottom-right-radius: clamp(50px, 6vw, 120px);
    }

    .col-lg-6 {
        overflow: hidden;
        min-height: 75vh;
        display: flex;

        @media screen and (max-width: $breakpoint-lg) {
            min-height: 50vh;
        }

    }

    .page-title {
        justify-content: center;
        align-items: center;

        .container {
            max-width: 650px;
        }
    }

    .featured-image-container {
        overflow: hidden;
        display: flex;
        padding: 0;

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }

    }

    .rotate {
        transform-origin: 50% 50%;
        animation: rotation 18s infinite linear;
        z-index: 100;
    }

    #lineArcs {
        position: absolute;
        top: 2rem;
        left: 50%;
        width: 75vw;
    }

    #lineArcs path {
        opacity: 0.4;
    }

    @media (min-width: 768px) {
        #lineArcs {
            left: 70%;
            width: 60vw; 
        }
        
    }

    @media (min-width: 992px) {
        #lineArcs {
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            width: 50vw;
        }
    }

    @keyframes rotation {
        from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(359deg);
        }
    }

    .rotate.countercw {
        animation: rotationCounterCW 18s infinite linear;
    }

    @keyframes rotationCounterCW {
        from {
        transform: rotate(359deg);
        }
        to {
        transform: rotate(0deg);
        }
    }


}

.plain-jumbotron {
    min-height: 45vh;
    display: flex;
    align-items: center;
}


.split-jumbotron {

    position: relative;
    min-height: 70vh;
    display: flex;
    align-items: center;
    z-index: 0;

    @media screen and (max-width: $breakpoint-md) {
        min-height: 85vh;
    }

    .column {
        display: flex;
        align-items: center;
        @media screen and (max-width: $breakpoint-md) {

            &.content {
                min-height: 50vh;
            }
        }
    }

    .bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 75vw;
        z-index: -1;
        border-bottom-right-radius: $section-border-radius;
        border-top-right-radius: $section-border-radius;

        @media screen and (max-width: $breakpoint-md) {
            border-radius: 0 0 $section-border-radius $section-border-radius ;
            width: 100vw;
            top: 0;
            right: 0;
            left: 0;
            bottom: 25%;
        }

    }

    figure {
        max-height: 600px;
        overflow: hidden;
        @extend .rounded;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: $breakpoint-md) {
            max-height: 325px;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }

}

.full-image-jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    .container-fluid {
        min-height: 90vh;
        padding-top: $spacer-6;
        padding-bottom: $spacer-6;
        display: flex;
        align-items: center;
        position: relative;

        &.overlay {
            &-20 {
                background-color: rgba($black ,.2);
            }

            &-30 {
                background-color: rgba($black ,.3);
            }

            &-40 {
                background-color: rgba($black ,.4);
            }

            &-50 {
                background-color: rgba($black ,.5);
            }

            &-60 {
               background-color: rgba($black ,.6); 
            }

            &-70 {
                background-color: rgba($black ,.7);
            }

            &-80 {
                background-color: rgba($black ,.8);
            }
        }
    }

    h2 {
        color: $white;
    }

    svg {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
        fill: none;

        @media screen and (max-width: $breakpoint-md) {
            width: 200px;
        }
        
        path {
            stroke: #fff200;
            stroke-miterlimit: 10;
            stroke-width: 4px;
            stroke-dasharray: 2000;
            animation: quarter-arc-image-jumbotron 5s linear;
        }

    }

}

@keyframes quarter-arc-image-jumbotron {
    0% {
        stroke-dashoffset: 2000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.contained-full-image-jumbotron {
    padding: $spacer;

    .background-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        border-radius: $border-radius;
    }

    @media screen and (max-width: $breakpoint-md) {
        padding: 0;

        .background-image {
            border-radius: 0;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }

    .container-fluid {
        min-height: 90vh;
        padding-top: $spacer-6;
        padding-bottom: $spacer-6;
        display: flex;
        align-items: center;
        position: relative;

        &.overlay {
            &-20 {
                background-color: rgba($black ,.2);
            }

            &-30 {
                background-color: rgba($black ,.3);
            }

            &-40 {
                background-color: rgba($black ,.4);
            }

            &-50 {
                background-color: rgba($black ,.5);
            }

            &-60 {
               background-color: rgba($black ,.6); 
            }

            &-70 {
                background-color: rgba($black ,.7);
            }

            &-80 {
                background-color: rgba($black ,.8);
            }
        }
    }

    h2 {
        color: $white;
    }

    svg {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
        fill: none;

        @media screen and (max-width: $breakpoint-md) {
            width: 200px;
        }
        
        path {
            stroke: #fff200;
            stroke-miterlimit: 10;
            stroke-width: 4px;
            stroke-dasharray: 2000;
            animation: quarter-arc-image-jumbotron 5s linear;
        }

    }

}

@keyframes quarter-arc-image-jumbotron {
    0% {
        stroke-dashoffset: 2000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}