//Grid
$col-1:         25%;
$col-2:         50%;
$col-3:         75%;
$col-4:         100%;
$container:     100%;

//Type
$font-family-base: FSThriveElliot, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;

// Colors
$yellow-100: #FFF200;
$yellow-50: #FEF790;
$yellow-40: #FEF8A5;
$yellow-30: #FFFABA;
$yellow-20: #FFFBD1;
$yellow-10: #FFFDE7;
$slate-100: #0A2029;
$slate-90: #27363D;
$slate-80: #3E4D53;
$slate-70: #576368;
$slate-60: #6E797E;
$slate-50: #868F93;
$slate-40: #9FA6A9;
$slate-30: #B7BCBF;
$slate-20: #CFD2D4;
$slate-10: #E7E9EA;
$slate-05: #F3F4F4;
$black:    #000000;
$black-90: #191919;
$black-80: #333333;
$black-70: #4C4C4C;
$black-60: #666666;
$black-50: #7F7F7F;
$black-40: #999999;
$black-30: #B2B2B2;
$black-20: #CCCCCC;
$black-10: #E5E5E5;
$black-00: #FFFFFF;
$white: #FFFFFF;
$slate: $slate-100;
$orange: #FF9966;
$teal: #8FE4DE;
$blue: #A1C4FD;
$purple: #C4ABDA;
$light: #F2F2F2;

$primary:       $yellow-100 !default;
$secondary:     $slate-100 !default;
$light:         $light !default;
$dark:          $black !default;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "yellow-100": $yellow-100, 
  "yellow-50": $yellow-50, 
  "yellow-40": $yellow-40, 
  "yellow-30": $yellow-30, 
  "yellow-20": $yellow-20, 
  "yellow-10": $yellow-10, 
  "slate-100": $slate-100, 
  "slate-90": $slate-90, 
  "slate-80": $slate-80, 
  "slate-70": $slate-70, 
  "slate-60": $slate-60, 
  "slate-50": $slate-50, 
  "slate-40": $slate-40, 
  "slate-30": $slate-30, 
  "slate-20": $slate-20, 
  "slate-10": $slate-10, 
  "slate-05": $slate-05, 
  "black": $black,
  "black-100": $black, 
  "black-90": $black-90, 
  "black-80": $black-80, 
  "black-70": $black-70, 
  "black-60": $black-60, 
  "black-50": $black-50, 
  "black-40": $black-40, 
  "black-30": $black-30, 
  "black-20": $black-20, 
  "black-10": $black-10, 
  "black-00": $black-00, 
  "white": $white, 
  "slate": $slate, 
  "orange": $orange, 
  "teal": $teal, 
  "blue": $blue, 
  "purple": $purple, 
  "light": $light, 
) !default;

$core-colors: (
    "yellow-100": $yellow-100,
    "slate-100": $slate-100,
    "black": $black,
    "white": $white,
    "orange": $orange,
    "teal": $teal,
    "blue": $blue,
    "purple": $purple,
    "light": $light,
) !default;



@font-face {
    font-family: "FSThriveElliot";
    font-weight: 300;
    font-display: block;
    font-style: normal;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Light.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Light.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Light.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Light.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Light.svg#FSThriveElliot-Light") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 300;
    font-display: block;
    font-style: italic;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-LightItalic.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-LightItalic.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-LightItalic.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-LightItalic.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-LightItalic.svg#FSThriveElliot-Italic") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 400;
    font-display: block;
    font-style: normal;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Regular.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Regular.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Regular.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Regular.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Regular.svg#FSThriveElliot-Regular") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 400;
    font-display: block;
    font-style: italic;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Italic.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Italic.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Italic.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Italic.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Italic.svg#FSThriveElliot-Italic") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 700;
    font-display: block;
    font-style: normal;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Bold.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Bold.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Bold.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Bold.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Bold.svg#FSThriveElliot-Bold") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 700;
    font-display: block;
    font-style: italic;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-BoldItalic.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-BoldItalic.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-BoldItalic.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-BoldItalic.svg#FSThriveElliot-BoldItalic") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 900;
    font-display: block;
    font-style: normal;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Heavy.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Heavy.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Heavy.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Heavy.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Heavy.svg#FSThriveElliot-Heavy") format("svg")
}



img {
    border: 0;
    line-height: 100%;
    vertical-align: middle;
  }
  .col {
    font-size: 16px;
    line-height: 25px;
    vertical-align: top;
  }
  
  @media screen {
    .col,
    td,
    th,
    div,
    p {
      font-family: $font-family-base;
    }
    .sans-serif {
      font-family: $font-family-base;
    }
    img {
      max-width: 100%;
    }
  }
  
  @media (max-width: 632px) {
    .container {
      width: $container !important;
    }
  }
  
  @media (max-width: 480px) {
    .col {
      display: inline-block !important;
      line-height: 23px;
      width: 100% !important;
    }
  
    .col-sm-1 {
      max-width: $col-1;
    }
    .col-sm-2 {
      max-width: $col-2;
    }
    .col-sm-3 {
      max-width: $col-3;
    }
    .col-sm-third {
      max-width: 33.33333%;
    }
  
    .col-sm-push-1 {
      margin-left: $col-1;
    }
    .col-sm-push-2 {
      margin-left: $col-2;
    }
    .col-sm-push-3 {
      margin-left: $col-3;
    }
    .col-sm-push-third {
      margin-left: 33.33333%;
    }
  
    .full-width-sm {
      display: table !important;
      width: $col-4 !important;
    }
    .stack-sm-first {
      display: table-header-group !important;
    }
    .stack-sm-last {
      display: table-footer-group !important;
    }
    .stack-sm-top {
      display: table-caption !important;
      max-width: $col-4;
      padding-left: 0 !important;
    }
  
    .toggle-content {
      max-height: 0;
      overflow: auto;
      transition: max-height 0.4s linear;
      -webkit-transition: max-height 0.4s linear;
    }
    .toggle-trigger:hover + .toggle-content,
    .toggle-content:hover {
      max-height: 999px !important;
    }
  
    .show-sm {
      display: inherit !important;
      font-size: inherit !important;
      line-height: inherit !important;
      max-height: none !important;
    }
    .hide-sm {
      display: none !important;
    }
  
    .align-sm-center {
      display: table !important;
      float: none;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .align-sm-left {
      float: left;
    }
    .align-sm-right {
      float: right;
    }
  
    .text-sm-center {
      text-align: center !important;
    }
    .text-sm-left {
      text-align: left !important;
    }
    .text-sm-right {
      text-align: right !important;
    }
  
    .borderless-sm {
      border: none !important;
    }
    .nav-sm-vertical .nav-item {
      display: block;
    }
    .nav-sm-vertical .nav-item a {
      display: inline-block;
      padding: 4px 0 !important;
    }
  
    .spacer {
      height: 0;
    }
  
    .p-sm-0 {
      padding: 0 !important;
    }
    .p-sm-8 {
      padding: 8px !important;
    }
    .p-sm-16 {
      padding: 16px !important;
    }
    .p-sm-24 {
      padding: 24px !important;
    }
    .pt-sm-0 {
      padding-top: 0 !important;
    }
    .pt-sm-8 {
      padding-top: 8px !important;
    }
    .pt-sm-16 {
      padding-top: 16px !important;
    }
    .pt-sm-24 {
      padding-top: 24px !important;
    }
    .pr-sm-0 {
      padding-right: 0 !important;
    }
    .pr-sm-8 {
      padding-right: 8px !important;
    }
    .pr-sm-16 {
      padding-right: 16px !important;
    }
    .pr-sm-24 {
      padding-right: 24px !important;
    }
    .pb-sm-0 {
      padding-bottom: 0 !important;
    }
    .pb-sm-8 {
      padding-bottom: 8px !important;
    }
    .pb-sm-16 {
      padding-bottom: 16px !important;
    }
    .pb-sm-24 {
      padding-bottom: 24px !important;
    }
    .pl-sm-0 {
      padding-left: 0 !important;
    }
    .pl-sm-8 {
      padding-left: 8px !important;
    }
    .pl-sm-16 {
      padding-left: 16px !important;
    }
    .pl-sm-24 {
      padding-left: 24px !important;
    }
    .px-sm-0 {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    .px-sm-8 {
      padding-right: 8px !important;
      padding-left: 8px !important;
    }
    .px-sm-16 {
      padding-right: 16px !important;
      padding-left: 16px !important;
    }
    .px-sm-24 {
      padding-right: 24px !important;
      padding-left: 24px !important;
    }
    .py-sm-0 {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .py-sm-8 {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }
    .py-sm-16 {
      padding-top: 16px !important;
      padding-bottom: 16px !important;
    }
    .py-sm-24 {
      padding-top: 24px !important;
      padding-bottom: 24px !important;
    }
  }
  