{% assign dark_theme_bg = "black, slate, light-slate, black-90, slate-90" | split: ", " %}
{% assign ic_cta_style = "btn-black" %}

{% for value in dark_theme_bg %}
    {% if section.background_color contains value %}
        {% assign ic_cta_style = "btn-yellow" %}
        {% break %}  
        {# Exit loop once a match is found #}
    {% endif %}
{% endfor %}



{% capture ic_cta %}
    {% capture ic_cta_id %}
        {% if section.cta_link contains 'id--' %}

            {{ section.cta_link | replace: 'id--', '#' }}

        {% else %}

            {{ section.cta_link }}

        {% endif %}
    {% endcapture %}

    {% if section.cta %}
        <a href="{{ ic_cta_id }}" class="btn {{ ic_cta_style }}">
            {{ section.cta }}
        </a>
    {% endif %}

{% endcapture %}
